*{
      margin: 0;
      padding: 0; 
    }
	/*第一个页面*/
	/*整体样式*/
	.first{
		background-color: aliceblue;
		text-align: center;
		margin: 0px auto;
		height: 925px;
	}
	.w1{
		text-decoration-line:none;
		padding-top: 400px;
	}
	/*第二个页面*/
   .second {
        margin:0px auto;
    }
	/*头部*/
    .header {
        width:100%;
        height:150px;
		background-color:#FFDFBF;
		text-align: center;
    }
    /*中间*/
    .main {
        width:100%;
        height:670px;
		background-color: #FF8863;
		text-align: center;
    }
	/*脚部*/
    .footer {
        width:100%;
        height:105px;
		background-color: #CAB3B7;
		text-align: center;
    }
	.f1{
		padding-top: 40px;
	}
	.m1{
		padding-top: 280px;
	}
	.h1{
		padding-top: 65px;
	}
	/*第三个页面*/
	.third{
	    width:100%;
	    height:925px;
	    margin:0px auto;/*居中*/
	}
	/*左样式*/
	.left {
	    width:30%;
	    height:100%;
	    float:left ;/*右浮动*/
	    background-color: #007561;
		text-align: center;
	}
	.t3{
		padding-top: 100%;
	}
	/*右样式*/
	.right {
	    width:70%;
	    height:100%;
	    float:right ;/*右浮动*/
		background-color:#DFE0DF;
		text-align: center;
	}
	.r3{
		padding-top: 40%;
	}
	/*第四个页面*/
	.fourth{
		width: 100%;
		height: 925px;
		margin:0px auto;
		text-align: center;
	}
	/*头部*/
	.header2{
		height: 20%;
		background-color: #FFDFBF;
	}
	/*中心*/
	.main2{
		height: 70%;
		background-color: #C58225;
	}
	/*左浮动*/
	.left2{
		width: 30%;
		height: 100%;
		float: left;
		background-color: #FFF8EE;
	}
	/*右浮动*/
	.right2{
		width: 70%;
		height: 100%;
		background-color: #DFE0DF;
		float: right;
	}
	.r4{
		padding-top: 20%;
	}
	/*脚部*/
	.footer2{
		height: 10%;
		background-color: #C58225;
	}
	/*第五个页面*/
	.fifth{
		width: 100%;
		height: 925px;
		margin:0px auto;
		text-align: center;
	}
	/*头部*/
	.header3{
		height: 20%;
		background-color: #DABFFF;
	}
	/*中心*/
	.main3{
		height: 70%;
		background-color: #CBAD8E;
	}
	.mheard{
		height: 20%;
		background-color: #98B2F8;
	}
	.mmain{
		background-color:#3BA6E5;
		height: 80%;
		
	}
	.mmain2{
		background-color: #3BA6E5;
		height: 100%;
		overflow: hidden;
	}
		.mleft{
				height: 100%;
				width: 20%;
				background-color: #0098C2;
				float: left;
			}
		.mright{
				height: 100%;
				width: 20%;
				background-color: #0098C2;
				float: right;
			}
		.r5{
			padding:20%;
		}
	/*脚部*/
	.footer3{
		height: 10%;
		background-color: #008693;
	}
	